<app-header></app-header>
<app-navigator></app-navigator>
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-category></app-category>
      </div>

      <div class="col-md-9">

        <div class="row">
          <div class="col-md-5">

            <div class="app-figure" id="zoom-fig">
              <a id="Zoom-1" class="MagicZoom" title="Product Name" href="assets/upload/pro01.jpg">
                <img title="Choose the right  product every time!" src="assets/upload/pro01.jpg" alt="Product Name" title="Product Name"
                />
              </a>
              <div class="selectors" style="margin-top: 50px;">

                <div id="owl-demo02" class="owl-carousel">

                  <div class="item" *ngFor="let item of list; let i = index;">
                    <a data-zoom-id="Zoom-1" title="Product Name" href="assets/upload/pro0{{i+1}}.jpg">
                      <img title="Choose the right  product every time!" srcset="assets/upload/pro0{{i+1}}.jpg" src="assets/upload/pro0{{i+1}}.jpg"
                        title="Product Name" alt="Product Name" />
                    </a>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="col-md-7">
            <h3 class="page-header">แบตสำรอง Xiaomi Mi Power Bank 5200mAh</h3>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h4>ราคา :</h4>
            <p class="price-out">890.00 ฿</p>
            <p class="price-in">390.00 ฿</p>
            <h4>สี :</h4>
            <ul>
              <li>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #000000;border: 3px solid #000000;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #ffffff;border: 3px solid #ffffff;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #ff0000;border: 3px solid #ff0000;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #e91e63;border: 3px solid #e91e63;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #009688;border: 3px solid #009688;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #ffeb3b;border: 3px solid #ffeb3b;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #795548;border: 3px solid #795548;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #ff9800;border: 3px solid #ff9800;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #3f51b5;border: 3px solid #3f51b5;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #00bcd4;border: 3px solid #00bcd4;"></span>
                </label>
                <label class="checkbox-frame">
                  <input type="radio" name="color">
                  <span class="checkbox-frame__checkmark" style="background-color: #999999;border: 3px solid #999999;"></span>
                </label>

              </li>
            </ul>
            <h4>จำนวน :</h4>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input id="colorful" class="form-control" type="number" value="1" min="1" max="10" />
                </div>
              </div>
              <div class="col-md-8"></div>
            </div>
            <br>
            <a class="btn btn-danger text-uppercase" href="">
              <i aria-hidden="true" class="fa fa-shopping-basket"></i> หยิบใส่ตะกร้า</a>

            <h4>เเชร์บน :</h4>


            <div class="product-share">
              <ul>
                <li>
                  <a class="share-face" href="#" title="facebook">
                    <span> </span>
                  </a>
                </li>
                <li>
                  <a class="share-line" href="#" title="line">
                    <span> </span>
                  </a>
                </li>
                <li>
                  <a class="share-twitter" href="#" title="twitter">
                    <span> </span>
                  </a>
                </li>
                <li>
                  <a class="share-google" href="#" title="google +">
                    <span> </span>
                  </a>
                </li>
                <li>
                  <a class="share-ig" href="#" title="instagram">
                    <span> </span>
                  </a>
                </li>
                <div class="clearfix"> </div>
              </ul>
            </div>

          </div>

        </div>


        <br>

        <div class="row">

          <div class="f-products">
            <h2 class="marginbot20">
              <span class="glyphicon glyphicon-chevron-right red" aria-hidden="true"></span> สินค้ายอดนิยม</h2>

            <div id="owl-demo" class="owl-carousel">

              <div class="item" *ngFor="let item of list; let i = index;">
                <div class="col-xs-12">
                  <div class="prod-cnt prod-box" style="width: 100%;margin: 0px;">

                    <div class="container01" data-hipop="two-horizontal">
                      <span class="label-product label-sale"> new </span>
                      <img class="img-responsive image01" src="assets/upload/pro0{{i+1}}.jpg" alt="แบตสำรอง Xiaomi Mi Power Bank 5200mAh" title="แบตสำรอง Xiaomi Mi Power Bank 5200mAh">
                      <div class="overlay01">
                        <div class="text01">
                          <div class="col-xs-6">
                            <a class="btn-popup1" href="product-detail" title="ดูรายละเอียด">
                              <i aria-hidden="true" class="fa fa-share"></i>
                            </a>
                          </div>
                          <div class="col-xs-6">
                            <a class="btn-popup2" href="add-cart" title="หยิบใส่ตะกร้า">
                              <i aria-hidden="true" class="fa fa-shopping-basket"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a href="">
                      <h4 class="detail">
                        แบตสำรอง Xiaomi Mi Power Bank 5200mAh
                      </h4>
                      <div class="price-cnt">
                        <div class="price">

                          <span class="red font20">
                            <b>฿390.00</b>
                          </span> &nbsp;
                          <span class="price-out">฿890.00</span>

                        </div>
                      </div>

                    </a>

                    <div class="price-cnt">
                      <a href="add-cart" title="แบตสำรอง Xiaomi Mi Power Bank 5200mAh">
                        <p class="pull-right">
                          <i class="fa fa-shopping-basket font20 cart" aria-hidden="true"></i>
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>



            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
