<app-header></app-header>
<app-navigator></app-navigator>
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <h4>
          <i class="fas fa-sign-in-alt red"></i> ยินดีต้อนรับเข้าสู่ระบบ
          <br class="visible-xs">
          <span class="pull-right" style="font-size: 14px;"> สมาชิกใหม่?
            <a href="register" class="red"> ลงทะเบียน </a>ที่นี่</span>
        </h4>



        <br>
        <div class="thumbnail">
          <br>
          <div class="clearfix"></div>
          <div class="col-md-6">




            <form class="wd_contact-from" id="frm_quatation" method="post" action="query_request">




              <div class="form-group">
                <input name="quotation_Email" type="email" class="form-control" placeholder="อีเมล">
              </div>

              <div class="form-group">
                <input name="quotation_Mobile" type="text" class="form-control" placeholder="รหัสผ่าน">
              </div>

              <div class="clearfix"></div>
              <a href="forget-password" class="red">ลืมรหัสผ่าน</a>
              <div class="clearfix"></div>
              <div class="p-l" style="margin-bottom:20px;">
                <input type="submit" class="btn btn-danger" value="ยืนยัน" style="margin-top: 5px;">
                <button type="Reset" class="btn btn-danger" style="margin-top: 5px;">ล้างข้อมูล</button>
              </div>
            </form>


          </div>
          <div class="col-md-6">


            <div class="text-center">
              <h6>หรือ เชื่อมต่อกับบัญชีออนไลน์</h6>

              <a href="" class="btn btn-info btn-lg">
                <i class="fab fa-facebook-f"></i> Facebook</a>

              <div class="clearfix"></div>
              <br>
              <a href="" class="btn btn-warning btn-lg">
                <i class="fab fa-google-plus-g"></i> Google</a>
            </div>
            <br>
          </div>

          <div class="clearfix"></div>

        </div>
      </div>



      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<app-footer></app-footer>
