<app-header></app-header>
<app-navigator></app-navigator>
<section class="page-section">
  <div class="container">
    <h2 class="text-center">
      <i aria-hidden="true" class="fas fa-map-marker-alt red"></i> ติดต่อเรา</h2>
    <br>
  

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z4Lil4Lit4LiZ4LiU4Lit4LiZIOC4quC4q-C4o-C4suC4iuC4reC4suC4k-C4suC4iOC4seC4geC4ow!5e0!3m2!1sth!2sth!4v1530500887771" height="300" frameborder="0" style="border:0" allowfullscreen style="width: 100%;"></iframe>


<div class="row">

<div class="col-md-5">
<br>
<h3 class="page-header">Shopping Online 24 Hours</h3>

<h5 class="red">ที่อยู่บริษัท</h5>
<p>89/27 หมู่บ้านศุภาลัย วิลล์ ซ.พหลโยธิน 52 แยก 27 แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220</p>
<br>
<h5 class="red">โทรศัพท์ :</h5>
<p>094-445-6296</p>

<h5 class="red">Fax :</h5>
<p>02-100-5044</p>

<h5 class="red">อีเมล : </h5>
<p>admin@cw.in.th</p>

</div>


<div class="col-md-7">
<br>
<h3 class="page-header">ส่งข้อความ</h3>
<form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="หัวเรื่อง" required="required" style="height: 45px;">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="ชื่อ-นามสกุล" required="required" style="height: 45px;">
                    </div>
                  </div>
         
             
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="เบอร์โทร" required="required" style="height: 45px;">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="อีเมล" required="required" style="height: 45px;">
                    </div>
                  </div>
        
                       </div>

                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="ระบุข้อความ" required="required" style="height: 150px;"></textarea>
                </div>
                <div class="form-group">
                 


                </div>                     
                <div class="form-group">
                  <div style="margin-bottom: 15px;"><img src="assets/images/Captcha-demo.gif" width="280" height="76" alt=""></div>
                  <button type="submit" class="btn-submit btn btn-danger">ส่ง</button> 
                  <button type="submit" class="btn-submit btn btn-danger">ล้างข้อมูล</button> 
                </div>
              </form>
</div>
</div>


  </div>
</section>
<app-footer></app-footer>
