<app-header></app-header>
<app-navigator></app-navigator>
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <h4>
          <i class="fas fa-exclamation-triangle red"></i> ลืมรหัสผ่านหรือไม่?
          
        </h4>



        <br>
        <div class="thumbnail">
          <br>
          <div class="clearfix"></div>
          <div class="col-md-7">




            <form class="wd_contact-from" id="frm_quatation" method="post" action="query_request">


<p>กรุณาระบุอีเมลข้างล่าง เราจะส่งลิงก์เพื่อรีเซ็ตรหัสผ่านไปยังอีเมล</p>

              <div class="form-group">
                <input name="quotation_Email" type="email" class="form-control" placeholder="อีเมล">
              </div>


              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="p-l" style="margin-bottom:20px;">
                <input type="submit" class="btn btn-danger" value="ยืนยัน" style="margin-top: 5px;">
                <div class="clearfix"></div>
              <a href="login" class="red">กลับไป</a>
              </div>
            </form>


          </div>
          

          <div class="clearfix"></div>

        </div>
      </div>



      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<app-footer></app-footer>
