<app-header></app-header>
<app-navigator></app-navigator>
<section class="page-section">
  <div class="container">
    <h2 class="text-center">
      <i class="fa fa-align-left red" aria-hidden="true"></i> ขั้นตอนการสั่งซื้อ</h2>
    <h6>1. เลือกสินค้าของคุณ</h6>
    <p>คุณสามารถเลือกสินค้าที่คุณต้องการสั่งซื้อโดยการคลิกที่ปุ่ม “หยิบใส่ตะกร้า” หรือ หากคุณต้องการเลือกสินค้าเก็บไว้และชำระเงินภายหลัง
      ให้คลิกที่ปุ่ม “เพิ่มรายการที่ชอบ” ซึ่ง ณ ที่นี้ คุณต้องทำการเข้าสู่ระบบก่อน เพื่อที่ระบบจะได้บันทึกสินค้าไว้ใน “สินค้าที่สนใจ”</p>

    <h6>2. ตรวจสอบหรือแก้ไขรายการสินค้า</h6>
    <p>คุณสามารถทำการตรวจสอบหรือแก้ไขรายการสินค้าที่คุณต้องการสั่งซื้อได้ในหน้า “ตะกร้าของฉัน" หลังจากนั้นคลิกที่ปุ่ม “สั่งซื้อสินค้า”
      เพื่อดำเนินการ การสั่งซื้อสินค้า</p>

    <h6>3. เลือกทำรายการสั่งซื้อสินค้า</h6>
    <p> คุณสามารถเลือกได้ดังนี้ ทำรายการโดยไม่เป็นสมาชิก: กรอกข้อมูลการเรียกเก็บเงิน และข้อมูลการจัดส่งสินค้าของคุณ โดยไม่ได้เป็นสมาชิกของ
      cmart.co.th ลูกค้าใหม่: สำหรับการสั่งซื้อครั้งแรก เพียงกรอกข้อมูลการเรียกชำระเงิน และข้อมูลการจัดส่งสินค้าของคุณ โดยเป็นสมาชิกกับ
      cmart.co.th เพื่อให้ง่ายต่อการสั่งซื้อครั้งต่อไป และสะดวกต่อการติดตามการสั่งซื้อ นอกจากนี้ คุณยังสามารถสั่งซื้อสินค้าโดยเข้าสู่ระบบผ่านทางบัญชี
      Facebook ของคุณได้ง่ายๆ ทั้งนี้จะได้รับจดหมายข่าวสารและโปรโมชั่นที่ดีที่สุดที่เรามอบให้ ลูกค้าเก่า: สำหรับลูกค้าที่เป็นสมาชิกกับ
      CMART ทำรายการสั่งซื้อผ่านระบบได้ง่ายๆ เพียงแค่เข้าสู่ระบบ โดยกรอกอีเมลและรหัสผ่าน และทำรายการสั่งซื้อโดยไม่ต้องกรอกข้อมูลอื่นๆเพิ่มเติม</p>


    <h6>4. เลือกวิธีการจัดส่งสินค้า</h6>
    <p>CMART มีตัวเลือกในการจัดส่ง 2 แบบ คือ ส่งแบบด่วน (Express) และ ส่งแบบธรรมดา (Standard) สำหรับแต่ละวิธีการจัดส่ง จะมีการคำนวณระยะทาง
      และน้ำหนักของสินค้า จากการยืนยันการสั่งซื้อของคุณ (คุณสามารถอ่านรายละเอียดเพิ่มเติมได้ที่หน้า “วิธีการจัดส่งสินค้า”)

      <h6>5. เลือกวิธีการชำระเงิน</h6>
      <p>คุณสามารถเลือกวิธีการชำระเงินได้หลากหลายวิธี เช่น เก็บเงินปลายทาง บัตรเครดิต/บัตรเดบิต ผ่านทางเคาน์เตอร์เซอร์วิส หรือผ่านทางระบบออนไลน์
        ซึ่งมีบริษัท 2C2P เป็น ผู้ดูแลระบบรักษาความปลอดภัย (คุณสามารถอ่านรายละเอียดเพิ่มเติมได้ที่หน้า “ช่องทางการชำระเงิน”)
        หากคุณมีรหัสคูปองส่วนลด คุณสามารถนำรหัสส่วนลดระบุในช่อง “ใส่รหัสส่วนลด ถ้ามี” และคลิก “ใช้ส่วนลด” และเมื่อคุณพร้อมทำการชำระเงินและสั่งซื้อสินค้า
        ให้คลิกที่ปุ่ม “ซื้อสินค้า”</p>



      <h6>6. ยืนยันคำสั่งซื้อสินค้าทางอีเมล</h6>
      <p>เมื่อคุณได้ทำรายการสั่งซื้อสินค้าเรียบร้อยแล้ว คุณจะได้รับอีเมลเพื่อยืนยันคำสั่งซื้อสินค้าของคุณ วิธีการชำระเงินแบบ
        เรียกเก็บเงินปลายทาง ชำระเงินที่จุดรับสินค้า (Cash on Pick up Point) กรุณาคลิกที่ “ลิงค์ยืนยันคำสั่งซื้อ” ตามลิงค์ที่แนบมาในอีเมลดังกล่าว
        ภายใน 24 ชม. หากคุณไม่ดำเนินการ ภายในเวลาที่กำหนด คำสั่งซื้อของคุณ จะถูกยกเลิกโดยอัตโนมัติ</p>

      <br>
      <img class="img-responsive" src="assets/upload/pay.jpg" alt="shoping" title="shoping">

  </div>
</section>
<app-footer></app-footer>
