<app-header></app-header>
<app-navigator></app-navigator>
<section class="page-section">
  <div class="container">
    <h2 class="text-center">
      <i class="fa fa-users red" aria-hidden="true"></i> เกี่ยวกับเรา</h2>
    <p>เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต ออกแบบเว็บไซต์สำเร็จรูปให้สวยงาม มีเอกลักษณ์ เหมาะกับทุกธุรกิจ รองรับการแสดงผล
      ทุกหน้าจอ ทุกอุปกรณ์ 100% รับออกแบบเว็บไซต์และพัฒนาระบบเว็บ บริการรับทำเว็บไซต์ ออกแบบเว็บไหม่ แบบครบวงจร เว็บไซต์ดูดี
      เว็บสวยงาม ทันสมัย มีเอกลักษณ์เหมาะกับธุรกิจคุณ ออกแบบเว็บไซต์ตามความต้องการของลูกค้า รองรับการทำงานของ SEO(Search
      Engine Optimization)เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต ออกแบบเว็บไซต์สำเร็จรูปให้สวยงาม มีเอกลักษณ์ เหมาะกับทุกธุรกิจ
      รองรับการแสดงผล ทุกหน้าจอ ทุกอุปกรณ์ 100% รับออกแบบเว็บไซต์และพัฒนาระบบเว็บ บริการรับทำเว็บไซต์ ออกแบบเว็บไหม่ แบบครบวงจร
      เว็บไซต์ดูดี เว็บสวยงาม ทันสมัย มีเอกลักษณ์เหมาะกับธุรกิจคุณ ออกแบบเว็บไซต์ตามความต้องการของลูกค้า รองรับการทำงานของ
      SEO(Search Engine Optimization)เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต ออกแบบเว็บไซต์สำเร็จรูปให้สวยงาม มีเอกลักษณ์
      เหมาะกับทุกธุรกิจ รองรับการแสดงผล ทุกหน้าจอ ทุกอุปกรณ์ 100% รับออกแบบเว็บไซต์และพัฒนาระบบเว็บ บริการรับทำเว็บไซต์ ออกแบบเว็บไหม่
      แบบครบวงจร เว็บไซต์ดูดี เว็บสวยงาม ทันสมัย มีเอกลักษณ์เหมาะกับธุรกิจคุณ ออกแบบเว็บไซต์ตามความต้องการของลูกค้า รองรับการทำงานของ
      SEO(Search Engine Optimization)เว็บไซต์พร้อมใช้ระบบเว็บในรูปแบบเว็บเทมเพลต ออกแบบเว็บไซต์สำเร็จรูปให้สวยงาม มีเอกลักษณ์
      เหมาะกับทุกธุรกิจ รองรับการแสดงผล ทุกหน้าจอ ทุกอุปกรณ์ 100% รับออกแบบเว็บไซต์และพัฒนาระบบเว็บ บริการรับทำเว็บไซต์ ออกแบบเว็บไหม่
      แบบครบวงจร เว็บไซต์ดูดี เว็บสวยงาม ทันสมัย มีเอกลักษณ์เหมาะกับธุรกิจคุณ ออกแบบเว็บไซต์ตามความต้องการของลูกค้า รองรับการทำงานของ
      SEO(Search Engine Optimization)

    </p>
    <br>
    <img class="img-responsive" src="assets/upload/about.jpg" alt="shoping" title="shoping">

  </div>
</section>
<app-footer></app-footer>
