<div class="f-products">
  <h2>
    <span class="fa fa-align-left red" aria-hidden="true"></span> หมวดหมู่สินค้า
  </h2>
  <div class="range left-side">
    <ul>
      <li>
        <a href="">อุปกรณ์ อิเล็กทรอนิกส์</a>
      </li>
      <li>
        <a href="">อุปกรณ์เสริม อิเล็กทรอนิกส์</a>
      </li>
      <li>
        <a href="">เครื่องใช้ไฟฟ้า สำหรับผู้บริโภค</a>
      </li>
      <li>
        <a href="">สุขภาพและความงาม</a>
      </li>
      <li>
        <a href="">เด็กอ่อน และของเล่น</a>
      </li>
      <li>
        <a href="">ซูเปอร์มาร์เก็ต และสัตว์เลี้ยง</a>
      </li>
      <li>
        <a href="">บ้านและไลฟ์สไตล์</a>
      </li>
      <li>
        <a href="">แฟชั่นผู้หญิง</a>
      </li>
      <li>
        <a href="">แฟชั่นผู้ชาย</a>
      </li>
      <li>
        <a href="">เครื่องประดับ</a>
      </li>
      <li>
        <a href="">กีฬาและ การเดินทาง</a>
      </li>
      <li>
        <a href="">ยานยนต์ และอุปกรณ์</a>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="f-products">
  <h2>
    <span class="fa fa-align-left red" aria-hidden="true"></span> ราคา
  </h2>
  <!-- price range -->
  <div class="range">
    <ul class="dropdown-menu6">
      <li>
        <div id="slider-range"></div>
        <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">0 - 499</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">500 - 999</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">1,000 - 1,499</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">มากกว่า - 1,500</span>
      </li>
    </ul>
  </div>
  <!-- //price range -->

</div>
<br>
<div class="f-products">
  <h2>
    <span class="fa fa-align-left red" aria-hidden="true"></span> สี
  </h2>
  <ul>
    <li>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #000000;border: 3px solid #000000;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #ffffff;border: 3px solid #ffffff;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #ff0000;border: 3px solid #ff0000;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #e91e63;border: 3px solid #e91e63;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #009688;border: 3px solid #009688;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #ffeb3b;border: 3px solid #ffeb3b;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #795548;border: 3px solid #795548;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #ff9800;border: 3px solid #ff9800;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #3f51b5;border: 3px solid #3f51b5;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #00bcd4;border: 3px solid #00bcd4;"></span>
      </label>
      <label class="checkbox-frame">
        <input type="checkbox">
        <span class="checkbox-frame__checkmark" style="background-color: #999999;border: 3px solid #999999;"></span>
      </label>

    </li>
  </ul>
</div>
