<app-header></app-header>
<app-navigator></app-navigator>

<section class="page-section">
	<div class="container">

		<h3 class="page-header">50% Offer</h3>

		<p style="color: #000;"><i class="fa fa-calendar red" aria-hidden="true"></i> 2017-11-22 <i class="fas fa-clock red" aria-hidden="true"></i> 17:55:31</p>

		<p>
			มือไม้มันก็จะสั่นๆนะเทออกับงาน CPS CHAPS End of Season Sale 50% ที่ลดแบบใจหายขนมาให้ช้อปมากมายทั้ง เสื้อผ้า กระเป๋า
			กางเกง เข็มขัด หมวก และอีกเพียบ เห็นแล้วก็อยากได้นู้นอยากได้นี่กันเต็มไปหมด!!! มือไม้มันก็จะสั่นๆนะเทออกับงาน CPS CHAPS End of Season Sale 50% ที่ลดแบบใจหายขนมาให้ช้อปมากมายทั้ง เสื้อผ้า กระเป๋า
			กางเกง เข็มขัด หมวก และอีกเพียบ เห็นแล้วก็อยากได้นู้นอยากได้นี่กันเต็มไปหมด!!! มือไม้มันก็จะสั่นๆนะเทออกับงาน CPS CHAPS End of Season Sale 50% ที่ลดแบบใจหายขนมาให้ช้อปมากมายทั้ง เสื้อผ้า กระเป๋า
			กางเกง เข็มขัด หมวก และอีกเพียบ เห็นแล้วก็อยากได้นู้นอยากได้นี่กันเต็มไปหมด!!!มือไม้มันก็จะสั่นๆนะเทออกับงาน CPS CHAPS End of Season Sale 50% ที่ลดแบบใจหายขนมาให้ช้อปมากมายทั้ง เสื้อผ้า กระเป๋า
			กางเกง เข็มขัด หมวก และอีกเพียบ เห็นแล้วก็อยากได้นู้นอยากได้นี่กันเต็มไปหมด!!!มือไม้มันก็จะสั่นๆนะเทออกับงาน CPS CHAPS End of Season Sale 50% ที่ลดแบบใจหายขนมาให้ช้อปมากมายทั้ง เสื้อผ้า กระเป๋า
		กางเกง เข็มขัด หมวก และอีกเพียบ เห็นแล้วก็อยากได้นู้นอยากได้นี่กันเต็มไปหมด!!!
	</p>


		<div class="clearfix"></div>

		<div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of list; let i = index;">
<a rel="gallery-1" href="assets/upload/pm0{{i+1}}.jpg" class="swipebox" title="50% Offer" >

				<img class="img-responsive image01" src="assets/upload/pm0{{i+1}}.jpg" alt="50% Offer" title="50% Offer">
</a>

				<br>
			</div>


		</div>
	</div>
</section>

<app-footer></app-footer>
