<section class="page-section" style="background: #f1f1f1;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h5>ติดต่อ Shopping</h5>
        <ul class="li-dos01">
          <li> 89/27 หมู่บ้านศุภาลัย วิลล์ ซ.พหลโยธิน 52 แยก 27 แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220</li>
        </ul>

        <ul class="li-dos02">
          <li> โทรศัพท์ : 094-445-6296 &nbsp;
            <i class="fa fa-fax red" aria-hidden="true" style="font-size: 20px;"></i> Fax : 02-100-5044</li>
        </ul>

        <ul class="li-dos03">
          <li> อีเมล : admin@cw.in.th </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>ติดตาม</h5>

        <a href="https://www.facebook.com/sharer/sharer.php?u=#" target="seed-social">
          <span>
            <img src="assets/images/so-01.png" alt="facebook" title="facebook">
          </span>
        </a>



        <a href="https://lineit.line.me/share/ui?url=#" target="seed-social">
          <span>
            <img src="assets/images/so-02.png" alt="line" title="line">
          </span>
        </a>


        <a href="https://twitter.com/share?url=#" target="seed-social">
          <span>
            <img src="assets/images/so-03.png" alt="twitter" title="twitter">
          </span>
        </a>


        <a href="https://instagram.com/share?url=#" target="seed-social">
          <span>
            <img src="assets/images/so-04.png" alt="instagram" title="instagram">
          </span>
        </a>

      </div>
      <div class="col-md-4">

        <h5>วิธีการชำระเงิน</h5>

        <span>
          <img src="assets/images/p01.png" alt="" title="">
        </span>
        <span>
          <img src="assets/images/p02.png" alt="" title="">
        </span>
        <span>
          <img src="assets/images/p03.png" alt="" title="">
        </span>
        <div class="clearfix"></div>
        <br>

        <h5 class="black">บริการจัดส่ง</h5>

        <span>
          <img src="assets/images/t01.png" alt="" title="">
        </span>
        <span>
          <img src="assets/images/t02.png" alt="" title="">
        </span>

      </div>
    </div>
  </div>
</section>

<div id="bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
        <div id="footer-box">
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="color:#ffffff;font-size:11px;line-height:1">
            <tbody>
              <tr>
                <td width="34" height="42" rowspan="2" align="center" valign="middle" scope="col">
                  <img title="Today" src="assets/images/1.png?v=1001" width="34" height="34">
                </td>
                <td width="75" height="21" align="center" valign="bottom" scope="col">Today
                </td>
                <td width="34" rowspan="2" align="center" valign="middle" scope="col">
                  <img title="This Month" src="assets/images/2.png?v=1001" width="34" height="34">
                </td>
                <td width="75" align="center" valign="bottom" scope="col">This Month</td>
                <td width="34" rowspan="2" align="center" valign="middle" scope="col">
                  <img title="Total" src="assets/images/3.png?v=1001" width="34" height="34">
                </td>
                <td width="75" align="center" valign="bottom" scope="col">Total</td>
              </tr>
              <tr>
                <td width="75" align="center" valign="top" scope="col">22</td>
                <td width="75" align="center" valign="top" scope="col">605</td>
                <td align="center" valign="top" scope="col">1904</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div id="footer-box2">
          <span class="footer" style="color:#ffffff;font-size: 11px;">© 2018 By Webisme Co., Ltd. All Rights Reserved</span>
          <br>
          <p style="font-size:12px;color:#ffffff;line-height:15px;margin-bottom: 0px;">
            <a title="บริษัทรับทำเว็บไซต์" href="http://www.cw.in.th/" target="_new" style="color:#ffffff"> Design By webisme</a>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
